DATABASE_URL=postgresql://...
BASE_URL=http://localhost:3000
CRON_SECRET=your-secret-here
RESEND_API_KEY=re_...
DEV_SECRET=your-dev-secret
NODEJS_HELPERS=0
# ak_84a02c713e0a29a813b5a6db30910bb03171ffae0c7a9f8903b761bcf9fadbb6
